*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    
    display: flex;
    width: 100%;
    background-color: rgb(95, 64, 64);
}
.left-nav{
    padding: 21px;
}
menu{
   display: flex;
    width: 100%;
 
   justify-content: center;

 
}
menu ul{
    list-style: none; 
   padding: 21px;
}
menu ul li a {
  text-decoration: none;
  color: whitesmoke;
   padding: 21px;
}
menu :hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    
   
}
main {
    display: flex;
    /* background-color: pink; */
    width: 90%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    padding: 9px;
}
@media (max-width: 768px) {

    body {
        align-items: center;
    }

    nav {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    menu {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    menu ul {
        padding: 10px;
    }

    menu ul li a {
        padding: 10px;
        display: inline-block;
        width: 100%;
    }
    .row {
        height: auto;
        flex-direction: column;
    }

    .row_1,
    .row_2,
    .row_3 {
        flex-direction: column;
        gap: 10px;
    }

    .card {
        width: 100%;
        height: auto;
        padding: 15px;
    }

    .footer {
        flex-direction: column;
        text-align: center;
        gap: 15px;
        padding: 20px 0;
    }

}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: green; */
    gap: 5px;
    padding: 9px;
}
.row {
    /* background-color: black; */
    width: 100%;
    height: 100vh;
    flex-direction: row;
  
    
}
.row_1{
    display: flex;
    flex-direction: row;
    gap: 5px;
 
}
.card{
    width: 100%;
    height: 33vh;
    background-color: rgb(231, 230, 230);
         padding: 9px;
}
.row_2{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.row_3 {
    display: flex;
}
.row_3 .card{
    height: 100%;
    width: 100%;
}
.footer{
    width: 100%;
    height: 100%;
    display: flex;

    justify-content: space-around;
    background-color: rgb(95, 64, 64);
  
     color: whitesmoke;
}
